/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* The side navigation menu */


.perfil_image {
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.perfil_image_table {
  border-radius: 50%;
  max-width: 10%;  
}

#perfil_name {
  margin-top: 8px;
  margin-left: 16px;
}

#pruebaF {
  color: #FFF;
}
.table {
     text-align:center;
     border-spacing: 2px;
     border-color: #ccc;
     border-collapse: collapse;
}

#vote {
    border-radius: 2em;
    font-size: 11px;
    font-weight: 700;
    line-height: .99;
    min-height: 1em;
    min-width: 1em;
    padding: 3px 5px 2px;
    position: relative;
    text-shadow: none;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background-color: #326ca6;
    color: #fff;
}



#leyendaTR:first-child{ border-bottom: 1px solid #555;}

tr {
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
}

tr:hover {
    background-color: #ccc;
    border-color: #ccc;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    float: none;
    margin-bottom: 0;
}

.filter-status {
    font-size: 13px;
    line-height: 18px;
    float: none;
    margin-bottom: 8px;
    margin-right: 8px;
    list-style: none;
}

.status {
    font-size: 11px;
    font-weight: 700;
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
}


.filter {
    display: inline;
    border: none;
    box-sizing: border-box;
    margin-right: 4px;
    height: 32px;
    min-width: 24px;
    border-radius: 3px;
    text-shadow: none;
    padding: 4px 10px;
    background: 0 0;
    line-height: 1.57142857em;
    text-decoration: none;
    color: #505F79;
    padding: 10px;
}

.filter:hover {
    background-color: #e6ecf7;
}

.filter[aria_pressed=true]{
    background-color: #505F79;
    color: #FFFFFF;
}

[laria_pressed=true]{
    color: #FFFFFF;
}

#newIssue {
  text-decoration: none;
  background-color: #e6ecf7;
  color: #505F79;
  padding: 10px;
  border-radius:5px;
  }

#newIssue:hover {
    cursor: pointer;
    border-color: #3e7ae8;
    border: 1px;
}

#status-new {
    color: #a5b3c2;
}

#status-open {
    color: #a5b3c2;
}

#status-on_hold {
    color: #ffe9a8;
}

#status-duplicate {
    color: #c0ad9d;
}

#status-invalid {
    color: #e8a29b;
}

#status-wontfix {
    color: #e8a29b;
}

#status-closed {
    color: #fff;
}

#status-resolved {
    color: #60b070;
}

#watch {
    overflow: hidden;
    text-indent: -9999px;
    background-size: 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 1px;
    width: 16px;
    height: 16px;
}

.body {
  margin-left: 220px;
}

:any-link {
    text-decoration:none;
    color: inherit;
}
:any-link:hover {
    background:transparent;
    color: inherit;
}

.issues .issues-toolbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.leyenda {
    padding: 16px;   
}

.table_header {
    margin-top: 16px;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}

.sidebar {
  
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;

}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #dce3ef;
  color: #175ac6;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 
